*{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
}

.container{
  background-color: #ffffff;
  min-height: 100%;
  max-width: 600px;
  margin: auto;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}

.query-bar{
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
}

.query-bar input, .query-bar button{
  font-size: 16px;
  padding: 4px;
  border: 1px solid #ddd;
}

.query-bar input{
  border-right: none;
  flex-grow: 1;
  padding-left: 1rem;
}

.query-bar button{
  
}

#result{
  padding: 0.2rem 1rem;
}

#result p{
  margin-bottom: 0.3rem;
  border-bottom: 1px dashed #eee;
}